version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6338:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage

  ollama:
    image: ollama/ollama:latest
    command: /bin/sh -c "ollama serve & ollama pull bge-m3 & wait"
    ports:
      - "11435:11434"
    volumes:
      - ./ollama_data:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  api:
    build: .
    ports:
      - "8424:9842"
    depends_on:
      - qdrant
      - ollama
